body {
	font-family: 'Open Sans', sans-serif;
	height: 1000px;
	width: 1250px;
	display: inline-grid;
	grid-template-rows: repeat(8, 1fr); 
	grid-template-columns: repeat(8, 1fr);	
	grid-gap: 20px;
}

a {
	text-decoration: none;
	
}

.header{
	border-bottom: 1px gray solid;
	background-color: #f7f7f7;
	display: inline-block;
	padding-bottom: 30px;
	grid-column: 1 / span 9;
}

.header a{
	color: gray;
	font-size: 12px;
	text-align: center;
}

.header .logo {
	height: 50px;
	width: 150px;
	position: relative;
	top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.header .icon {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	position: relative;
	top: 15px;
	border: 2px #f73d13 solid;
}

.header .options{
	margin-left: 300px;
}

.header .notification {
	background-color: #f73d13;
	color: white;
	display: inline-block;
	position: relative;
	height: 15px;
	width: 15px;
	border-radius: 100px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 12px;
	border: 10px #f73d13 solid;
	margin-left: 10px;
	margin-right: 10px;
}

.header .all {
	margin-left: 170px;
	padding-bottom: 30px;
}

.header .all:hover{
	color: black;
}

.header .all:active, .images:active, .news:active, .videos:active, .shopping:active, .more:active, .tools:active, .settings:active {
	border-bottom: 5px #58a1ef solid;
}

.header .images, .news, .videos, .shopping, .more, .tools {
	margin-left: 30px;
	padding-bottom: 30px;

}

.header .images:hover, .news:hover, .videos:hover, .shopping:hover, .more:hover, .tools:hover {
	color: black;
}

.header .settings {
	margin-left: 100px;
	padding-bottom: 30px;
}

.header .settings:hover {
	color: black;
}

.results1 {
	display: inline-block;
	grid-column: 2 / span 4;
	grid-row: 2 / span 1;
}
.results1 p, .results2 p {
	padding: 1px;
	margin: 1px;
	font-size: 14px;
}

.results1 a, .results2 a, .relatedsearch a, .sidebar a, .bottomnav a, .footer a {
	color: #0619b1;
}
.results1 .onea {
	color: gray;
	padding-bottom: 20px;
}

.results1 .onec, .results2 .twoa {
	color: forestgreen;
}

.resultbox{
	border: 3px black solid;
	display: inline-block;
	grid-column: 2 / span 4;
	grid-row: 3 / span 1;
}

.results2{
	display: inline-block;
	grid-column: 2 / span 4;
	grid-row: 4 / span 1;
}

.results2 .twob {
	padding-bottom: 15px;
}

.relatedsearch {
	grid-column: 2 / span 4;
	font-weight: bold;
}

.left {
	grid-column: 2 /span 2;
	font-size: 15px;
}

.right {
	grid-column: 4 / span 2;
	font-size: 15px;
}
.right a, .left a {
	display: inline-block;
	padding-bottom: 10px;
	color: #0619b1;
}

.sidebar {
	border: 3px black solid;
	display: block;
	grid-column: 6 / span 4;
	grid-row: 2 / span 2;
}
.sidebar img {
	height: 50px;
	width: 50px;
}

.bottomnav{
	grid-column: 2 / span 4;
	font-size: 30px;
}
.bottomnav .g {
	color: #58a1ef;
	display: inline;
}
.bottomnav #GEE {
	font-weight: bolder;
	padding-left: 100px;
}
.bottomnav .o, .e {
	color: #f44a41;
	display: inline;
}

.bottomnav .l {
	color: #69b754;
	display: inline;
}

.bottomnav .x {
	color: #f4c542;
	display: inline;
}

.bottomnav .one {
	margin-left: 165px;
}

.bottomnav .number, .bottomnav .next, .bottomnav .one {
	font-size: 16px;
	color: black;
}

.bottomnav .next {
	margin: 60px;
}

.bottomnav .number:hover, .bottomnav .next:hover, .bottomnav .one:hover {
	font-size: 16px;
	color: #58a1ef;
	border-bottom: 1px #58a1ef solid;
}

.footer{
	border: 3px black solid;
	display: inline-block;
	background-color: gray;
	grid-column: 1/ span 9;
}
.footer img {
	height: 20px;
	width: 20px;
}