body {
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
	color: black;
	text-align: center;
}

.header {
	text-align: center;
	font-size: 13px;
}

.header .icon {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	position: relative;
	top: 15px;
	border: 2px #f73d13 solid;
}

.header .notification {
	background-color: #f73d13;
	color: white;
	display: inline-block;
	position: relative;
	height: 15px;
	width: 15px;
	border-radius: 100px;
	margin-right: 20px;
	font-weight: bold;
	border: 10px #f73d13 solid;

}

.header .about {
	display: inline-block;
	margin-right: 20px;
}

.header .store {
	display: inline-block;
	margin-right: 800px;
}

.header .gmail {
	display: inline-block;
	margin-right: 20px;
}

.header .images {
	display: inline-block;
	margin-right: 20px;
}

.header .options {
	display: inline-block;
	margin-right: 20px;
}

.logo img {
	height: 100px;
	width: 350px;
	margin: 200px 400px 0px 450px;
}

.search {
	padding-left: 330px;
	padding-right: 400px;
	margin-top: 10px;
}

.a {
	background-color: #e0e2e5;
	padding: 10px;
	margin-top: 50px;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	margin-left: 470px;
	margin-right: 20px;
	margin-top: 10px;
}

.b {
	background-color: #e0e2e5;
	padding: 10px;
	margin-top: 20px;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
}

.a:hover{
	border: 1px gray solid;
	color: black;
	box-shadow: 2px 2px 10px #e0e2e5;
}

.b:hover{
	border: 1px gray solid;
	color: black;
	box-shadow: 2px 2px 10px #e0e2e5;
}

.footer{
	background-color: #e0e2e5;
	position: relative;
	height: 30px;
	top: 200px;
	font-size: 15px;
	border-top: 1px gray solid;
}
.footer .ads{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}
.footer .biz {
	margin-right: 800px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer .privacy {
	display: inline-block;
	margin-right: 20px;
}

.footer .terms {
	display: inline-block;
	margin-right: 20px;
	
}
.footer .settings {
	display: inline-block;
	margin-left: 10px;
}